.container-logo {
  margin: auto;
  width: 50%;
  text-align: center;
}

.container-logo img {
  width: 20%;
  height: 20%;
}

.container-logo h1 {
  text-align: center;
}

.social-links {
  padding: 15px;
}
